/* ===================================== */
/* 1. Variáveis de Cor */
/* ===================================== */
:root {
    --cor-fundo: #120914; 
    --cor-texto-principal: #F5F5F5; 
    --cor-destaque: #9933CC; 
    --cor-card-fundo: #1A0F1D; 
    --cor-secundaria: #A9A9A9; 

    --fonte-principal: 'Inter', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}


/* ===================================== */
/* 2. Reset Básico & Estilos Globais */
/* ===================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto-principal);
    font-family: var(--fonte-principal);
    min-height: 100vh;
}

a {
    color: var(--cor-destaque);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: var(--cor-secundaria);
}